.side-menu{
position: fixed;
background:rgb(238, 200, 225);
width: 300px;
height: 100%;
box-sizing:border-box;
padding: 30px 20px;
transition: width .2s ease-in;
}

.side-menu.inactive{
   width:80px;
}

.side-menu .top-section .logo{
  width: 40px;
  height: 40px;
  overflow:hidden;
  display:inline-block;
}

.side-menu .top-section{
    position: relative;
}

.side-menu .top-section .logo img{
    max-width: 100%;
    max-height: 100%;
}

.side-menu .top-section .toggle-menu-btn{
    color: black;
    font-size: 20px;
    position: absolute;
    top: 0%;
    right: 10%;
    cursor: pointer;
}

.side-menu.inactive .top-section .toggle-menu-btn {
    right: -50px;
}

.side-menu .search-controller{
    color:#fff;
    position: relative;
}

.side-menu .search-controller .search-btn{
    width: 40px;
    height: 35px;
    position:absolute;
    background: transparent;
    border: 0;
    font-size: 20px;
    color:#fff;
   
}

.side-menu .search-controller input[type = text]{
       border: 0;
       outline: none;
       height: 35px;
       background: #333;
       border-radius: 5px;
       display: block;
       margin: 20px 0;
       width : 100%;
       box-sizing: border-box;
       padding-left:40px;
       color:#666;
       color: #6666;
      
}

.side-menu .main-menu .menu-item{
    color:#333;
    text-decoration: none;
    font-size: 15px;
    display:block;
    font-weight: 600;
    cursor:pointer;
}

.side-menu .main-menu{
    margin:5px 0;
}

.side-menu .main-menu .menu-item .menu-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.side-menu .main-menu .menu-item span{
    position: absolute;
    display: inline-block;
    line-height: 40px;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.side-menu.inactive .main-menu .menu-item span{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.side-menu .main-menu .sub-menu{
    color:#333;
    margin-left: 20px;
    border-left: 1px solid #666;
    box-sizing: border-box;
    padding-left: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-in;
}

.side-menu .main-menu .sub-menu.active{
     max-height: 200px;
}

.side-menu .main-menu .sub-menu a{
    display:block;
    margin:5px 0;
    font-size: 15px;
    font-weight: 600;

}

.side-menu-footer{
    width:100%;
    height: 100px;
    background: #333;
    position:absolute;
    bottom:0;
    left:0;
    box-sizing: border-box;
}

.divider{
    width:95% 95%;
    height: 1px;
    border-radius: 1px;
    background: #333;
    top: 0%;

}
