@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');
* {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

code {
  font-family: 'Ubuntu', sans-serif;
}
